<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="David.Utility.Cryptography" version="1.5.0" targetFramework="net45" />
  <package id="MessagingToolkit.QRCode" version="1.3.0" targetFramework="net45" />
  <package id="MSBuild.Node" version="0.5.1" targetFramework="net45" developmentDependency="true" />
  <package id="MSBuild.Npm" version="0.5.1" targetFramework="net45" developmentDependency="true" />
  <package id="Node.js" version="0.12.7" targetFramework="net45" />
  <package id="NoGit" version="0.1.0" targetFramework="net45" />
  <package id="Npm" version="3.5.2" targetFramework="net45" />
</packages>